<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="online.dreamstudio.imtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".tool.IMTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ImTest"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IMTest"
        tools:replace="android:allowBackup">
        <activity
            android:name=".chat.SocketChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|stateHidden" />
    </application>

</manifest>